[submodule "external_lib/aphp"]
	path = external_lib/aphp
	url = git://github.com/OwlManAtt/activephp.git 
[submodule "external_lib/Smarty"]
	path = external_lib/Smarty
	url = git://github.com/OwlManAtt/smarty-ys.git
