body {
	background: #F3F4EC;
	color: #474E44;
}

a {
    color: #3C657B;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

#header {
    padding: 0px;   
    margin-top: 0.3em;
    padding-top:1em;    
    padding-bottom:1em;
    margin-bottom:0px;
    border-bottom: 1px solid #bab1b1;
    background: #CCCFBC;
    text-align:right;
    padding-right: 2em;
    padding-left: .5em;
}

#header h1 {
    padding:0px;
    margin: 0px;
    margin-bottom:0.3em;
    font-size: 1.2em;
    letter-spacing:0.2em;
}

#header h1 a {
    color: #5B7B57;
    text-decoration: none;
}

#header h1 a:hover {
    text-decoration: none;
    color: #bb4444;
}

h1 {
	font-size: xx-large;
	color: #880000;
	font-weight: bold;
	margin-top: 1px;
	margin-bottom: 3px;
}

h2 {
	display: block;
	width: 100%;
	background: #87A284;
	font-size: large;
	color: white;
	padding: 3px;
}

h3 {
	font-size: large;
	font-weight: bold;
	color: #880000;
}

#main-box {
    margin-top: 5px;
    padding-top: 5px;
	width: 98%;
}

#left-column {
    float: left;
    width: 15%;
}

#right-column {
    float: right;
    width: 83%;
    padding-left: 5px;
}

#footer {
    border-top: 1px solid #324031;
    border-bottom: 1px solid #324031;
    color: #eee;
    background: #87a284;
    clear: both;
    padding: 0.3em;
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
    font-size: 1em;
    margin-top: 5px;
}

#footer a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

#footer p
{
	margin: 0 0 0 2px;
	font-size: x-small;
	text-align: center;
}

#footer p a img {
    margin-top: 5px;
}

/* == Shaded dataTable == */
.dataTable {
	border: 0;
	margin-right: auto;
	margin-left: auto;
}

.dataTableHead {
	background: #87A284;
	font-weight: bold;
	font-size: large;
	text-align: center;
    color: white;
}

.dataTableSubhead {
	background: #CCCFBC;
    color: #5B7B57;
	font-weight: 800;
}

.dataTableRow {
	background: #EBEFD1;
}

.dataTableRowAlt {
	background: #DADFB5;
}

/* Input Table Colors */
.inputTable
{
	margin-right: auto;
	margin-left: auto;
}

.inputTable tr td {
    padding: .5em;
}

.inputTableHead
{
    color: #5B7B57;
    background-color: #CCCFBC;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.inputTableRow {
    background-color: #EBEFD1;
    text-align: left;
}

.inputTableRowAlt {
    background-color: #DADFB5;
    text-align: left;
}

.inputTableSubhead
{
    vertical-align: top; 
    font-weight: bold;
}

.notice_box {
	text-align: center;
	padding-bottom: .5em;
}

.tiny {
	font-size: xx-small;
}

#topnav
{
    display: inline;
    list-style: none;
}

#topnav li
{
    margin: 0;
    padding: 0;
    padding-right: .5em;
    display: inline;
}

.pet-box {
    width: 325px;
    float: left;
    margin: 1.5em;
    min-height: 200px;
    height: auto !important;
    height: 200px;
}

.item-box {
    width: 150px;
    float: left;
    margin: 1.5em;
    min-height: 150px;
    height: auto !important;
    height: 150px;
}

.item-box-detail {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 80%;
    text-align: left;
}

.item-box p {
    margin: 0;
}

.pages {
    text-align: center;
}

#site-notice {
    text-align: left;
    padding: 1em;
    padding-bottom: .1em;
    margin: 0;
	background: #DADFB5;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#site-notice h2 {
    margin: 0;
    padding: 0; 
    background-color: transparent;
    color: #87A284;
}

#breadcrumb-trail {
    font-size: small;
    margin-left: 20px;
    margin-bottom: 1em;
    width: 80%;
}

#new-post {
    float: right;
}

.board-post {
    width: 97%;
    margin-bottom: 1em;
    padding: .5em;
    background-color: #DADFB5;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.post-userinfo {
    width: 18%;
    float: left;
    height: 100%;
    background-color: #EBEFD1;
    margin-right: 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -opera-border-radius: 15px;
}

.post-userinfo ul {
    list-style: none;
    margin: 0;
    padding: .5em;
}

.post-userinfo ul .username
{
    font-weight: bold;
    font-size: large;
}

.post-content {
    width: 80%;
    float: left;
}

.post-content-header {
    color: gray;
    margin: 0 0 .5em 0;
    padding: 0;
    font-size: small;
    border-bottom: 1px solid gray;
}

.post-signature {
    margin-top: .5em;
    border-top: 1px solid gray;
}

.quick-reply {
    width: 80%;
    padding: 1em;
    background-color: #EBEFD1;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -opera-border-radius: 15px;
}

#user-profile-area {
    margin-bottom: 3em;
}

.news-post {
    width: 80%;
    padding: 1em;
    padding-top: .1em;
    padding-bottom: 0;
    margin-bottom: 2em;
    background-color: #DADFB5;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -opera-border-radius: 15px;
}

.news-post-footer {
    text-align: right;
    vertical-align: bottom;
    color: gray;
    font-size: small;
    padding: 0;
    padding-bottom: .2em;
    padding-top: .2em;
    margin: 0;
    margin-top: 2em;
    border-top: 1px solid gray;
}

.news-post-body {
    text-align: left;
}

.news-post-header {
    text-align: left;
    font-size: large;
    font-weight: bold;
    padding: .5em;
    margin-bottom: 1em;
    background-color: #EBEFD1;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -opera-border-radius: 15px;
}

.inline-form {
    display: inline;
    padding-left: 1em;
}
